.conda_env/
.venv/
__pycache__/
*.py[cod]
logs/
logs_old/
archive_old_files/
controller_debug_backup/
*.zip
.DS_Store
/outputs_final_all_controls/
/outputs_finite_s_sweep/
/outputs_pyragas_periodic_sweep/
/selected_pyragas_results/
/outputs/*/control/
